# Base de données
DATABASE_URI=postgresql://user:password@host:5432/database

# Stockage Supabase (S3-Compatible)
SUPABASE_ENDPOINT="https://your-project-id.supabase.co/storage/v1/s3"
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
SUPABASE_BUCKET=bucket-name
SUPABASE_REGION=your-region

# S3
SUPABASE_S3_ACCESS_KEY="your_s3_access_key"
SUPABASE_S3_SECRET_KEY="your_s3_secret_key"

# Payload
PAYLOAD_SECRET=your-payload-secret
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Configuration SMTP Resend
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_PASS=your_resend_api_key

# Identité de l'expéditeur
EMAIL_SENDER_ADDRESS=your-email@resend.dev
EMAIL_SENDER_NAME="Your Sender Name"

# NOTION KPI DASHBOARD
NOTION_TOKEN="your_notion_token"
NOTION_DB_VISITS="your_database_id"
NOTION_DB_CLICKS="your_database_id"
NOTION_DB_BLOCKED="your_database_id"
NOTION_DB_LEADS="your_database_id"